@import "../../assets/style/global.scss";

.introduction {
  position: relative;
}

.photo {
  @include square(60vh);
  position: absolute;
  top: 10vh;
  left: -2rem;
  // border-radius: 50%;
  // border: 1rem solid $color-yellow;

  img {
    max-width: 100%;
    border-radius: 50%;
  }

  .back {
    @include solid-circle(60vh, $color-dark-gray);
    display: flex;
    font-size: 5rem;
    color: $color-light-gray;
    align-items: center;
    justify-content: center;
  }
}

.circle-polka-dot {
  @include polka-dot($color-dark-gray);
  @include circle(20vh);
  position: absolute;
  top: 70vh;
}
