@import "../../assets/style/global.scss";

.circle-black {
  @include absolute-circle(2vw, #000);
  top: 15vh;
  left: 12vw;
}

.circle-yellow {
  @include absolute-circle(32vw, $color-yellow);
  bottom: -22vh;
  left: 5vw;
  background: $color-yellow;
}

.circle-gray {
  @include absolute-circle(20vw, $color-gray);
  top: 5rem;
  right: 4rem;
}

.my-name {
  position: absolute;
  width: 25vw;
  height: 20vh;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &:before {
    content: "";
    position: absolute;
    bottom: .5rem;
    height: 15px;
    width: 100%;
    background-color: #000000;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .6s ease;
  }

  &:hover:before {
    transform: scaleX(1);
  }

  .lizzy {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
