@import "../../assets/style/global.scss";

@mixin dot($color) {
  @include circle(2rem, $color);
  content: "";
  position: absolute;
  top: 32px;
}

.timeline {
  position: relative;
  width: 100%;
  height: 100%;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    border: 5px solid $color-gray;
    right: calc(50% - 5px);
    top: 0;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .events {
    width: 100%;
    height: 100%;
    padding: 7rem 0;
    box-sizing: border-box;
  }

  .event {
    padding: 2rem 2.5rem;
    width: 50%;
    box-sizing: border-box;
    clear: both;

    &.right {
      position: relative;
      float: right;

      &:before {
        @include dot($color-dark-gray);
        left: -16px;
      }
    }

    &.left {
      position: relative;
      float: left;
      text-align: right;

      &:after {
        @include dot($color-dark-gray);
        right: -16px;
      }
    }

    &.active {
      .title {
        font-size: 3rem;
        font-weight: bold;
        color: #000;
      }

      .description {
        font-size: 2rem;
      }

      &.right:before, &.left:after {
        @include dot($color-yellow);
        top: 41px;
      }
    }

    .title {
      font-size: 2rem;
      color: $color-dark-gray;
    }

    .description {
      padding-top: 0.5rem;
      color: $color-gray;
      font-size: 1.2rem;
    }
  }
}
