@import "../../assets/style/global.scss";

@mixin dot($color) {
  @include solid-circle(2rem, $color);
  content: "";
  position: absolute;
  top: 32px;
}

.timeline {
  position: relative;
  width: 100%;
  height: 100vh;

  &:before {
    content: "";
    position: absolute;
    height: 100vh;
    border: 5px solid $color-gray;
    right: calc(50% - 5px);
    top: 0;
    z-index: 2;
  }

  .events {
    width: 100%;
    height: 100vh;
    padding: 7rem 0;
    box-sizing: border-box;
  }

  .event {
    padding: 2rem 2.5rem;
    width: 50%;
    box-sizing: border-box;
    clear: both;
    z-index: 3;

    &.right {
      position: relative;
      float: right;

      &:before {
        @include dot($color-dark-gray);
        left: -16px;
      }
    }

    &.left {
      position: relative;
      float: left;
      text-align: right;

      &:after {
        @include dot($color-dark-gray);
        right: -16px;
      }
    }

    &.active {
      .title {
        font-size: 3rem;
        font-weight: bold;
        color: #000;
      }

      .description {
        font-size: 2rem;
      }

      &.right:before,
      &.left:after {
        @include dot($color-yellow);
        top: 41px;
      }
    }

    .title {
      font-size: 2rem;
      color: $color-dark-gray;
    }

    .description {
      padding-top: 0.5rem;
      color: $color-gray;
      font-size: 1.2rem;
    }
  }

  .circle-stripe-yellow {
    @include circle(10vw);
    @include stripe($color-yellow);
    position: absolute;
    top: 10vh;
    left: 5vw;
    z-index: 1;
  }

  .circle-yellow {
    @include absolute-outline-circle(20vw, 1px, $color-yellow);
    top: 80vh;
    right: 4rem;
  }
}

@media screen and (max-width: 945px) {
  .timeline {
    &:before {
      right: auto;
      left: calc(20% - 5px);
    }

    .circle-stripe-yellow {
      width: 32vw;
      height: 32vw;
      top: -17vw;
      left: -2vw;
    }

    .circle-yellow {
      width: 25vw;
      height: 25vw;
    }
  }
  .events .event {
    &.left,
    &.right {
      float: right;
      padding: 1.5rem 2.5rem;
      width: 80%;
      text-align: left;

      &:before {
        top: 20px;
      }

      .title {
        font-size: 1.5rem;
      }
    }

    &.left {
      &:before {
        @include dot($color-dark-gray);
        top: 20px;
        left: -16px;
      }
      &.active {
        &:before {
          @include dot($color-yellow);
          top: 24px;
        }

        .title {
          font-size: 2rem;
        }

        .description {
          font-size: 1.5rem;
        }
      }

      &:after {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .timeline {
    &:before {
      border-width: 3px;
      left: calc(20% - 3px);
    }

    .events {
      .event {
        &.left,
        &.right {
          .title {
            font-size: 1.3rem;
          }

          .description {
            font-size: 1rem;
          }
        }

        &.left {
          &.active {
            &:before {
              top: 24px;
            }

            .title {
              font-size: 1.5rem;
            }

            .description {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    .circle-stripe-yellow {
      top: -7vw;
    }

    .circle-yellow {
      width: 30vw;
      height: 30vw;
      top: 90vh;
      right: 1rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .timeline .events {
    padding: 5rem 0;

    .event {
      &.left,
      &.right {
        padding: 1rem 2rem;

        &:before {
          width: 1.6rem;
          height: 1.6rem;
          top: 14px;
          left: -14px;
        }
      }

      &.left {
        &.active {
          &:before {
            top: 15px;
          }
        }
      }
    }
  }
}
